# Ordenando o resuldado do método describe()

Dataset disponível para download em : https://dados.gov.br/dataset/b-importacoes-e-exportacoes-de-petroleo

Link para download do dataset: https://www.gov.br/anp/pt-br/centrais-de-conteudo/dados-abertos/arquivos/ie/petroleo/importacoes-exportacoes-petroleo-2000-2022.csv

In [2]:
import pandas as pd

In [3]:
imp_exp_petroleo = pd.read_csv('./dados/importacoes-exportacoes-petroleo-2000-2022.csv', encoding="UTF-8", sep=';')

In [4]:
imp_exp_petroleo.head()

,ANO,MÊS,PRODUTO,OPERAÇÃO COMERCIAL,IMPORTADO / EXPORTADO,DISPÊNDIO / RECEITA
0,2000,ABR,PETRÓLEO,EXPORTAÇÃO,0,0
1,2000,AGO,PETRÓLEO,EXPORTAÇÃO,0,0
2,2000,DEZ,PETRÓLEO,EXPORTAÇÃO,"419950,4202",59930153
3,2000,FEV,PETRÓLEO,EXPORTAÇÃO,"0,068537786",51
4,2000,JAN,PETRÓLEO,EXPORTAÇÃO,0,0

In [5]:
imp_exp_petroleo.describe()

               ANO  DISPÊNDIO / RECEITA
count   530.000000         5.300000e+02
mean   2010.543396         8.577775e+08
std       6.377462         6.839428e+08
min    2000.000000         0.000000e+00
25%    2005.000000         3.184466e+08
50%    2011.000000         6.910523e+08
75%    2016.000000         1.263468e+09
max    2022.000000         3.743887e+09

In [6]:
imp_exp_petroleo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 530 entries, 0 to 529
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ANO                    530 non-null    int64
 1   MÊS                    530 non-null    object
 2   PRODUTO                530 non-null    object
 3   OPERAÇÃO COMERCIAL     530 non-null    object
 4   IMPORTADO / EXPORTADO  530 non-null    object
 5   DISPÊNDIO / RECEITA    530 non-null    int64
dtypes: int64(2), object(4)
memory usage: 25.0+ KB

In [8]:
# DataFrame.sort_values(self,by,axis=0,ascending=True,inplace=False,kind='quicksort',na_position='last',ignore_index=False)

imp_exp_petroleo.describe().sort_values(by='mean', axis=1)

               ANO  DISPÊNDIO / RECEITA
count   530.000000         5.300000e+02
mean   2010.543396         8.577775e+08
std       6.377462         6.839428e+08
min    2000.000000         0.000000e+00
25%    2005.000000         3.184466e+08
50%    2011.000000         6.910523e+08
75%    2016.000000         1.263468e+09
max    2022.000000         3.743887e+09

In [9]:
imp_exp_petroleo.describe().T

,count,mean,std,min,25%,50%,75%,max
ANO,530.0,2.010543e+03,6.377462e+00,2000.0,2005.0,2011.0,2.016000e+03,2.022000e+03
DISPÊNDIO / RECEITA,530.0,8.577775e+08,6.839428e+08,0.0,318446614.0,691052316.0,1.263468e+09,3.743887e+09

In [10]:
imp_exp_petroleo.describe().T.sort_values(by='mean')

,count,mean,std,min,25%,50%,75%,max
ANO,530.0,2.010543e+03,6.377462e+00,2000.0,2005.0,2011.0,2.016000e+03,2.022000e+03
DISPÊNDIO / RECEITA,530.0,8.577775e+08,6.839428e+08,0.0,318446614.0,691052316.0,1.263468e+09,3.743887e+09